/* FONTE CARREGADA */

@font-face {
    font-family: Nexa;
    src: url(../font/Nexa-ExtraLight.ttf);
}

@font-face {
    font-family: Nexa;
    src: url(../font/Nexa-Heavy.ttf);
    font-weight: bold;
}

* {
    font-family: Nexa;
}

/* PÁGINA GERAL */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body { 
    background-image: url("../assets/Background.png");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
}

#title{
    font-family: Nexa;
    font-weight: bold;
}

/* NAVBAR */

#navbarNav {
    justify-content: right;
    text-align: right;
}

.nav-link {
    transition: text-shadow 0.5s ease;
    color: rgb(248, 178, 83, 255) !important;
    font-size: 17px;
    font-weight: bold;
}

.nav-link:hover {
    text-shadow: 0 0 5px peachpuff;
}

.navbar-brand {
    font-weight: bold;
}

/* FOOTER */

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    padding: 10px 0;
    background-image: linear-gradient(rgb(32,36,36), black);
    color: rgb(248, 178, 83, 255);
}

.footer-text{
    font-weight: bold;
    margin-bottom: 5px !important; 
}

#curso-ecgm {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.icon-cursos {
    padding-right: 43px;
}

.icon-cursos:hover {
    cursor: pointer;
}

.icon-redes {
    max-width: 30px;
    max-height: 26px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.icon-apoios {
    max-width: 30px;
    max-height: 26px;
    display: block;
    margin: 0 auto;
}

/* MODAL */
.modal-content{
    background-image: linear-gradient(rgba(0,131,153,255), rgba(0,88,116,255));
    border-radius: 15px;
}

#cursoModalLabel {
    font-weight: bold;
    color: rgb(248, 178, 83, 255);
}

#cursoModalBody{
    font-weight: bold;
    color: white;
    text-align: justify;
}

#cursoIconModal{
    display: flex;
    justify-self: center;
}

.btn-close {
    filter: invert(1);
}