@font-face {
    font-family: Nexa;
    src: url(../font/Nexa-ExtraLight.ttf);
}

@font-face {
    font-family: Nexa;
    src: url(../font/Nexa-Heavy.ttf);
    font-weight: bold;
}

* {
    font-family: Nexa;
}

body {
    background-color: black;
}

#title{
    font-family: Nexa;
    font-weight: bold;
}

#navbarNav {
    justify-content: right;
}

.nav-link {
    color: rgb(248, 178, 83, 255) !important;
}